img {
  border: none;
}
a,
a:visited {
  font-weight: bold;
  color: #0689d0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix {
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#content {
  margin: 17px 10px;
  font-size: 90%;
}
#header {
  margin-bottom: 10px;
}
#main {
  clear: both;
  width: 600px;
  float: left;
}
#sidebar {
  width: 276px;
  float: right;
}
#footer {
  text-align: right;
  clear: both;
}

.icon {
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
}
.menu li {
  float: left;
  margin: 0 10px 0;
  padding: 0;
}
.menu a {
  display: block;
  height: 24px;
  margin-bottom: 5px;
  padding-left: 30px;
}
#pref {
  padding: 10px 25px;
  background: #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#pref form {
  margin: 0;
}
#pref form .field {
  float: left;
  margin-right: 20px;
}
.pref {
  background: #fff url("http://matake.jp/gadgets/smartfm/images/pref.png") no-repeat;
}
.share {
  background: #fff url("http://matake.jp/gadgets/smartfm/images/share.png") no-repeat;
}