#study_results {
  height: 140px;
  width: 276px;
  background: url("http://matake.jp/gadgets/smartfm/images/badge.png") no-repeat;
}
.small #study_results {
  margin: 0 auto;
  width: 184px;
}
.small #study_results:hover {
  cursor: pointer;
}
.study_result {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  width: 90px;
  padding: 1px;
  text-align: center;
  float: left;
}
.study_result li {
  margin-top: 25px;
}
.study_result li.completed,
.study_result li.best_score {
  margin-top: 20px;
}
.study_result .caption {
  font-size: 10px;
}

#ranking {
  border: 1px solid #f90;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#ranking dt {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  background: #f90;
}
#ranking dd {
  margin: 0;
  padding: 7px 10px 7px 35px;
  height: 16px;
}
#ranking dd.even {
  background-color: #feb;
}
#ranking dd.rank1,
#ranking dd.rank2,
#ranking dd.rank3 {
  background-image: url("http://matake.jp/gadgets/smartfm/images/ranking.gif");
  background-repeat: no-repeat;
}
#ranking dd.rank1 {
  background-position: 4px 4px;
}
#ranking dd.rank2 {
  background-position: 4px -29px;
}
#ranking dd.rank3 {
  background-position: 4px -64px;
}
#ranking span.me,
#ranking a.me {
  color: red;
  font-weight: bold;
}